#background {
    height: 725;
}

body {
    background-color: salmon;
    text-align: center;
}

header {
    background-color: bisque;
}

nav a:hover {
    background-color: rgb(69, 69, 69);
    color: rgb(35, 35, 34);
}

nav a {
    text-decoration: none;
    color: black;
}


.logos {
    width: 80px; 
    float: left;
}

footer p {
    font-size: 1.2em;
    background-color: gray;
}

footer p a:hover {
    text-decoration: underline;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: gray;
    font-family: "montserrat" , sans-serif;
}

.container {
    max-width: 1600px;
}

.book {
    text-decoration: none;
    color: rgb(127, 116, 116);
}
