@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Inclusive+Sans&family=Lato:wght@300;400&family=Lobster&family=Rubik:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

#background {
    height: 725px;
    background-color: rgb(64, 100, 104);
}

body {
    background-color: rgb(169, 184, 225);
    text-align: center;
    font-family: 'Poppins', 'Lato', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(64, 100, 104);
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 10px;
}

nav a:hover {
    background-color: rgb(79, 87, 88);
    color: rgb(35, 35, 34);
}

nav a {
    text-decoration: none;
    color: black;
    padding: 35px;
}


.logos {
    width: 80px; 
    float: left;
    padding-top: 5px;
}

footer {
    font-size: 1.2em;
    background-color: gray;
    padding: 25px 50px;
    margin-top: 200px;
    text-align: left;
}

footer p a:hover, footer p a:focus, footer p a:active, footer p a {
    text-decoration: none;
    color: inherit;
}

footer p a:hover {
    text-decoration: underline;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(64, 100, 104);
    font-family: "montserrat" , sans-serif;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.book, .join {
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid #000000;
    border-radius: 5px;
    color: #000000;
    background-color: #fff;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

a {
    text-decoration: none;
}

.home-title {
    font-size: 2em;
    margin-top: 10px;
    font-family: 'Caveat', cursive;
}

.msg, .p {
    font-size: .8em;
    padding-bottom: 15px;
}

.msg {
    line-height: 1.5em;
    padding: 35px;
    background-color: grey;
  }

  h2 {
    margin: 0;
    padding-bottom: 50px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img  {
    border: 10px solid #000000;
}

main section img {
    box-sizing: border-box;
}

#hero-box {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.mountains {
    padding: 15px;
}
