#background {
    height: 725;
}

body {
    background-color: salmon;
    text-align: center;
}

header {
    background-color: bisque;
}

nav a:hover {
    background-color: black;
    color: yellow;
}

.icon {
    width: 80px;
}

nav a {
    text-align: center;
    color: bisque;
    text-decoration: bisque;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}